<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT article ANY>
<!ATTLIST article id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1062" key="182d45c1-b486-421e-bde8-0e482a2e60f2" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-10-28T15:38:40" updateDate="2018-10-28T20:30:24" nodeName="HomePage" urlName="homepage" path="-1,1062" isDoc="" nodeType="1061" creatorName="TechnicalTest" writerName="TechnicalTest" writerID="0" template="1060" nodeTypeAlias="homePage" isPublished="true">
    <aboutText><![CDATA[Me: Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.]]></aboutText>
    <about><![CDATA[About Me]]></about>
    <bannerTitle><![CDATA[My Banner Title]]></bannerTitle>
    <buttonText><![CDATA[My Call To Action]]></buttonText>
    <bannerStrapline><![CDATA[This is the banner My strapline]]></bannerStrapline>
    <siteHeader><![CDATA[My Header]]></siteHeader>
    <logo><![CDATA[umb://media/bcf399acb3bf489ea2237861a1ad1817]]></logo>
    <favicon><![CDATA[umb://media/1548e7bcf8c04fc78d5f498099d52093]]></favicon>
    <article id="1066" key="27408406-c9db-4fde-93c3-4825bc445538" parentID="1062" level="2" creatorID="0" sortOrder="0" createDate="2018-10-28T16:11:53" updateDate="2018-10-28T18:54:22" nodeName="Detail" urlName="detail" path="-1,1062,1066" isDoc="" nodeType="1065" creatorName="TechnicalTest" writerName="TechnicalTest" writerID="0" template="1064" nodeTypeAlias="article" isPublished="true">
      <body><![CDATA[<p>Detail Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>]]></body>
      <title><![CDATA[This is My Title]]></title>
      <articleImage><![CDATA[umb://media/266506f5ae4d43bebea04ab1928989ad]]></articleImage>
    </article>
    <article id="1067" key="1f054c12-e7cb-4a9b-b531-612b2f21ed6b" parentID="1062" level="2" creatorID="0" sortOrder="1" createDate="2018-10-28T16:14:13" updateDate="2018-10-28T18:57:39" nodeName="Windmills" urlName="windmills" path="-1,1062,1067" isDoc="" nodeType="1065" creatorName="TechnicalTest" writerName="TechnicalTest" writerID="0" template="1064" nodeTypeAlias="article" isPublished="true">
      <body><![CDATA[<p>Windmills This is a thumbnail card with supporting text below as a natural lead-in to additional content.</p>]]></body>
      <title><![CDATA[Windmills and river]]></title>
      <articleImage><![CDATA[umb://media/2ffc1800cef640f19fcaeaf2f2d56c3a]]></articleImage>
    </article>
    <article id="1068" key="4c47cb5f-1ca2-4865-8f93-d2d7ff6a93fc" parentID="1062" level="2" creatorID="0" sortOrder="2" createDate="2018-10-28T16:14:47" updateDate="2018-10-28T18:57:50" nodeName="Violin" urlName="violin" path="-1,1062,1068" isDoc="" nodeType="1065" creatorName="TechnicalTest" writerName="TechnicalTest" writerID="0" template="1064" nodeTypeAlias="article" isPublished="true">
      <body><![CDATA[<p>Violin This is a thumbnail card with supporting text below as a natural lead-in to additional content.</p>]]></body>
      <title><![CDATA[Violin ]]></title>
      <articleImage><![CDATA[umb://media/848e1d55a17d475fa7be9e6f9cf3f9ff]]></articleImage>
    </article>
    <article id="1069" key="b1d89b42-20b9-40f6-ab83-41eaf6270307" parentID="1062" level="2" creatorID="0" sortOrder="3" createDate="2018-10-28T16:15:05" updateDate="2018-10-28T18:58:01" nodeName="Art" urlName="art" path="-1,1062,1069" isDoc="" nodeType="1065" creatorName="TechnicalTest" writerName="TechnicalTest" writerID="0" template="1064" nodeTypeAlias="article" isPublished="true">
      <body><![CDATA[<p>Art This is a thumbnail card with supporting text below as a natural lead-in to additional content.</p>]]></body>
      <title><![CDATA[Art]]></title>
      <articleImage><![CDATA[umb://media/49e8d4e3d5814f84a9826706f8590ae6]]></articleImage>
    </article>
  </homePage>
</root>